<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>certificate </title>
</head>
<body>
    <center>
        <h1>certificate ID</h1>
        <form action="/get_user_details" method="get" >
            <label for="number">certificate number:</label> 
            <input type="number" placeholder="certificate number" name="certificate_number" id="certificate_number"  required>
            <br> <br>
            <button type="submit">ENTER</button>
        </form>
    </center>
</body>
</html>