<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error</title>
    <link rel="icon" href="../static/bank-icon-logo-design-vector.jpg">
    <style>
            body{
                color: antiquewhite;
                background-image: url(../static/34355870_sl_020622_4930_13.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                
            
            }
    </style>
</head>
<body>
    <center>
        <h1>PLEASE CHECK THE USER NAME NAME AND PASSWORD🤨</h1>
        
    </center>
    
</body>
</html>