<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>acc details</title>
    <link rel="icon" href="../static/bank-icon-logo-design-vector.jpg">
    <style>
        body{
            background-image: url(../static/34355870_sl_020622_4930_13.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            
        }
        p{
            font-family: 'Copperplate';
            font-size: x-large;
            text-align: left;
        }
        a{
            color: black;
            font-size: x-small;
        }
        
        
    </style>

</head>
<body style="font-family: Arial, sans-serif; display: flex; justify-content: center; align-items: center; height: 100vh; margin: 0;">
    <div style="text-align: left; background: #aed9fd; padding: 20px; border-radius: 10px; box-shadow: 10px 10px 15px rgba(252, 249, 249, 0.1);">
    <center>
    <p>
        account number:134567387
        <br>
        account holder: admin
        <br>
        IFSC code:13423ffer123dd 
        <br>
        branch: anna nagar


    </p>

</center>
    </div>
    
</body>
</html>