<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="icon" href="../static/bank-icon-logo-design-vector.jpg">
        <style>
        h1{
            color: antiquewhite;
            
        }
        h2{
            color: antiquewhite;
            
            
        }
        body{
             color: antiquewhite;
             background-image: url(../static/34355870_sl_020622_4930_13.jpg);
             background-repeat: no-repeat;
             background-size: cover;
             

        }
        input{
            width: 10%;
        }
    </style>
</head>
<body>
    <center>
    <h1>WELCOME TO 107 BANK</h1>
    <h2>login page</h2>
    <form action="/welcome" method="post">
    <label for ="username">USERNAME:</label>
    <input type="text" placeholder="username"  id="username" name="username" required>
    <br> <br>
    <label for="password">PASSWORD:</label>
    <input type="password" placeholder="password" id="password" name="password"  required>
    <br> <br>
    <button type="submit">login</button>


    </form>
</center>
    
</body>
</html>