<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>payment unsuccessfull</title>
    <link rel="icon" href="../static/bank-icon-logo-design-vector.jpg">
    <style>
        body{
            background-image: url(../static/34355870_sl_020622_4930_13.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            color: antiquewhite;
        }
        
    </style>
</head>
<body>
    <center>
    <h1>insufficient balance</h1>
</center>
    
</body>
</html>